<div class="card mb-5">
    <header class="card-header{{ with .Get 1 }} has-background-{{.}} has-text-white{{ end }}">
        <p class="card-header-title">
            {{ .Get 0 | title }}
        </p>
    </header>
    <div class="card-content content">
        {{ .Inner | markdownify }}
    </div>
</div>
