@import "blueprint/reset";

@import "partials/base";

@import "blueprint";
@import "blueprint/scaffolding";

@import "compass/css3";

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box

  font-family: 'OFL Sorts Mill Goudy', 'OFL Sorts Mill Goudy TT', 'Droid Serif', Georgia, serif;
  /*background: fixed url('/assets/images/stripe5.png');*/
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Amaranth', 'Verdana', sans-serif;
}

form.bp {
  @include blueprint-form;
  // You'll probably want to remove the scaffolding once you start styling your site.
  @include blueprint-scaffolding; }

#container {
  @include container;
	/*@include showgrid;*/
}

header, nav, footer {
  @include column($blueprint-grid-columns, true);
}

header {
	/*@include border-bottom-radius;*/
	/*@include append-bottom($baseline);*/

	hgroup {
		margin: $baseline;
	}
}

nav {
	/*@include border-bottom-radius;*/
	/*@include append-bottom($baseline);*/

  ul {
    li {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

#sidebar {
	/*@include prepend(1);*/
  @include column(4, true);
}

hr.colruler {
  @include colruler;
}

.sidebar-box {
	padding: $baseline;
	@include border-radius;
}

#content, .post article {
  @include column(8);
  @include border;
}

article {
  padding: $baseline $baseline 0;
	@include append-bottom($baseline);
  /*@include border-radius;*/
}

/*header, nav, footer, .sidebar-box, article {*/
  /*background-color: transparent;*/
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);*/
  /*zoom: 1;*/
/*}*/

.post-date {
  @include append-bottom;
  font-style: italic;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}
