// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Some other useful partials
@import "partials/pygments-tango";

/*****************************************************************************
 * General structure
 */

#container {
    @include container-fixed;

    max-width: 1440px;
}

section {
    @include make-row;
}

#content {
    @include make-md-column(8);

    .static-page & {
        @include make-md-column-offset(2);
        @include make-md-column(6);
    }
}

article {
    @include container-fixed(0px);
}

/*****************************************************************************
 * Blog header
 */

header.page-header {
    @include make-row;

    hgroup, nav {
        @include make-md-column-offset(2);
        @include make-md-column(10);
    }

    hgroup {
        background-color: $brand-primary;
        color: white;
        border-radius: $grid-gutter-width / 2;

        h1 a, .h1 a {
            color: white;
            text-decoration: none;
        }
    }

    nav {
        padding-top: $grid-gutter-width / 2;
        ul {
            display: inline-block;
            padding: 0 !important;
            li {
                display: inline-block;
                margin-right: 1em;
            }
        }
    }
}

#sidebar {
    @include make-md-column(4);

    padding: {
        top: $grid-gutter-width / 2;
        bottom: $grid-gutter-width / 2;
    }

    background-color: lighten($brand-primary, 60%);
    border-radius: $grid-gutter-width / 2;
}

footer {
    @include make-md-column-offset(2);
    @include make-md-column(6);

    margin: {
        top: $grid-gutter-width / 2;
        bottom: $grid-gutter-width / 2;
    }

    a.license {
        @extend .pull-left;
        margin-right: 1em;
    }
}

/*****************************************************************************
 * Posts and static pages
 */

.post-title {
    @include make-md-column-offset(3);
    @include make-md-column(9);

    .static-page & {
        @include make-md-column-offset(0);
        @include make-md-column(12);
    }

    a, a:hover {
        text-decoration: none;
        color: $text-color;
    }
}

.post-info {
    @include make-md-column(3);
    font-style: italic;
    color: $gray-light;

    text-align: right;

    .post-date, .post-cats, .post-tags {
        @media (min-width: $screen-md-min) {
            margin-bottom: 1em;
        }

        @media (max-width: $screen-md-min) {
            display: inline;
        }
    }

    .post-date, .post-cats {
        @media (max-width: $screen-md-min) {
            &:after {
                content: ' — ';
            }
        }
    }

    @media (max-width: $screen-md-min) {
        margin-bottom: 1em;
    }
}

.post-body {
    @include make-md-column(9);

    .static-page & {
        @include make-md-column(12);
    }
}

// Fix heading sizes for single post pages
.single-post, .static-page {

    article {
        h1, .h1 { font-size: $font-size-h2; }
        h2, .h2 { font-size: $font-size-h3; }
        h3, .h3 { font-size: $font-size-h4; }
        h4, .h4 { font-size: $font-size-h5; }
        h5, .h5 { font-size: $font-size-h6; }
    }

}

// Tags & categories
ul.post-cats, ul.post-tags {
    display: inline;
    list-style-type: none;
    padding-left: 0;
    margin-right: 0;

    li {
        display: inline-block;
    }
}

a.tag {
    background: lighten($brand-primary, 50%);
    border: $brand-primary thin solid;
    color: $brand-primary;
    padding: 0 1px;
    margin-right: 2px;
    border-radius: 3px;
    text-decoration: none;
}

/*****************************************************************************
 * Archive page navigation
 */

#page-nav {
    @include make-row;

    margin: {
        top: 2em;
        bottom: 2em;
    }

    .newer-posts {
        @include make-md-column-offset(3);
        @include make-md-column(3);
        @include make-xs-column(6);
        text-align: left;
    }

    .older-posts {
        @include make-md-column-offset(3);
        @include make-md-column(3);
        @include make-xs-column(6);
        text-align: right;
    }

    .newer-posts, .older-posts {
        a {
            @extend .btn;
            @extend .btn-primary;
        }
    }
}

/*****************************************************************************
 * Utility classes for posts etc.
 */

.main-illustration {
    max-width: 50%;
    @extend .pull-right;
}

.wp-caption {
    background: $gray-lighter;
    border: solid 1px $gray-light;
    border-radius: 2px;
    padding: 4px;

    &.alignright {
        @extend .pull-right;

        p { text-align: right; }
    }
    &.alignleft {
        @extend .pull-left;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0px;
    overflow: hidden;

    iframe, object, embed {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
}

/*****************************************************************************
 * IPython notebook support (including syntax highlighting)
 */

.prompt {
    font-family: $font-family-monospace;
}

.highlight pre, .highlighter-rouge pre.highlight {
    @include pygments-colors-tango;
}

.cell .anchor-link {
    display: none;
}

.output_png {
    text-align: center;

    img {
        max-width: 100%;
    }
}