// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import "partials/base";

#container {
    @include container-fixed;

    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
        width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }
}

header.page-header {
    @include make-row;

    hgroup, nav {
        @include make-md-column-offset(2);
        @include make-md-column(10);
    }
}

section {
    @include make-row;
}

#content {
    @include make-md-column(8);

    .static-page & {
        @include make-md-column-offset(2);
        @include make-md-column(6);
    }
}

#sidebar {
    @include make-md-column(4);
}

article {
    @include container-fixed(0px);
}

.post-title {
    @include make-md-column-offset(3);
    @include make-md-column(9);
}

.post-info {
    @include make-md-column(3);
    font-style: italic;
    color: #999;

    .post-date, .post-cats, .post-tags {
        @media (min-width: $screen-md-min) {
            margin-bottom: 1em;
            font-style: italic;
        }

        @media (max-width: $screen-md-min) {
            display: inline;
        }
    }

    .post-date, .post-cats {
        @media (max-width: $screen-md-min) {
            &:after {
                content: ' — ';
            }
        }
    }

    @media (max-width: $screen-md-min) {
        margin-bottom: 1em;
    }
}

.post-body {
    @include make-md-column(9);
}

nav {
    ul {
        display: inline-block;
        padding: 0 !important;
        li {
            display: inline-block;
            margin-right: 1em;
        }
    }
}

ul.post-cats, ul.post-tags {
    display: inline;
    list-style-type: none;
    padding-left: 0;
    margin-right: 0;

    li {
        display: inline-block;
    }
}

a.tag {
    background: adjust-lightness($colour-tag, 50);
    border: $colour-tag thin solid;
    color: $colour-tag;
    padding: 0 1px;
    margin-right: 2px;
    border-radius: 3px;
    text-decoration: none;
}


@import "partials/pygments-zenburn";