[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
"ws4py" = "*"
watchdog = "*"
typogrify = "*"
nikola = "~=7.8"
"jinja2" = "*"
notebook = "*"
"s3cmd" = "*"
coconut = "*"
pip = "==18.0"
