#!/usr/bin/env ruby

preprocess do
	paginate_articles
end

require 'compass'

Compass.add_project_configuration 'config/compass.rb'

compile '/assets/style/*/' do
  filter :sass, Compass.sass_engine_options
end

compile '/assets/images/*' do
end

compile '/assets/js/*' do
  if item[:extension] == 'coffee'
    filter :coffee
  end
end

compile '/' do
  filter :haml
  layout 'home'
end

compile '/archives/*/' do
	filter :haml
	layout 'home'
end

compile '/articles/*' do
  filter :erb
  filter :kramdown
  layout 'article'
end

compile '/articles/*', :rep => :archive do
  filter :kramdown
  filter :reduce_header_level, :by => -2
end

compile '/feed/' do
  filter :erb
end

compile '*' do
  filter :erb
  filter :kramdown
  layout 'page'
end

route '/assets/style/partials/*' do
end

route '/assets/images/*' do
  item.identifier.chop + '.' + item[:extension]
end

route '/assets/style/*/' do
  item.identifier.chop + '.css'
end

route '/assets/js/*' do
  item.identifier.chop + '.js'
end

route '/articles/*' do
	'/blog/' + item.identifier.split('/')[-1] + '/index.html'
end

route '/articles/*', :rep => :archive do
  nil
end

route '/feed/' do
  '/feed.xml'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml, :format => :html5
