#!/usr/bin/env ruby

preprocess do
	paginate_articles
end

require 'compass'

Compass.add_project_configuration 'config.rb'

compile '/assets/style/*' do
  filter :sass, Compass.sass_engine_options
end

compile '/' do
  filter :haml
  layout 'home'
end

compile '/archives/*/' do
	filter :haml
	layout 'home'
end

compile '/articles/*' do
  filter :kramdown
  layout 'article'
end

route '/assets/style/*' do
  item.identifier.chop + '.css'
end

route '/articles/*' do
	'/' + item.identifier.split('/')[-1] + '.html'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml, :format => :html5
