#!/usr/bin/env ruby

require 'compass'

Compass.add_project_configuration 'config/compass.rb'

# Preprocess ###################################################################

preprocess do
	paginate_articles

  tag_index.add_articles(articles)
  @items.concat(tag_index.tag_feeds)
  @items.concat(tag_index.tag_pages)
  @items.concat(tag_index.category_feeds)
  @items.concat(tag_index.category_pages)

  articles.each {|item| item[:page_type] = 'single-post'}
  @items.each   {|item| item[:page_type] ||= 'static-page'}
end

# Compilation ##################################################################

STATIC_ITEMS = Regexp.union(
  '/favicon.ico/',
  '/robots.txt/',
  '/blank.html/',
  %r{/assets/(images|fonts|javascripts)/.*/},
  %r{/downloads/.*/}
)
compile STATIC_ITEMS do
  # Don't compile
end

compile '/assets/style/*/' do
  filter :sass, Compass.sass_engine_options
end

compile '/assets/js/*/' do
  if item[:extension] == 'coffee'
    filter :coffeescript
  end
  filter :uglify_js
end

compile %r{^(/|/archives/.*/)$} do
  filter :haml
  layout 'main'
end

compile '/articles/*' do
  filter :erb
  filter :kramdown
  layout 'main'
end

compile '/articles/*', rep: :archive do
  filter :erb
  filter :kramdown
  filter :reduce_header_level, by: 2
end

compile %r{^(/feeds?/.*|/sitemap/|/ignore-me/)$} do
  filter :haml
end

compile %r{^/(tag|category)/} do
  filter :haml
  layout 'main' unless item[:type] == :feed
end

compile '*' do
  case @item[:extension]
  when 'md'
    filter :erb
    filter :kramdown
  when 'haml'
    filter :haml, format: :html5
  else
    filter :erb
  end
  layout 'main'
end

# Routing ######################################################################

route '/assets/style/partials/*' do
  # Don't route
end

# route %r{^(/assets/images/.*/|/favicon/|/downloads/.*/)$} do
#   item.identifier.chop + '.' + item[:extension]
# end
route STATIC_ITEMS do
  item.identifier.chomp('/')
end

route '/assets/style/*/' do
  item.identifier.chop + '.css'
end

route '/assets/js/*/' do
  item.identifier.chop + '.js'
end

route '/articles/*/' do
  '/blog/' + item.identifier.split('/')[-1] + '/index.html'
end

route '/articles/*/', rep: :archive do
  # Don't route
end

route %r{/(feed|sitemap)/$} do
  item.identifier.chop + '.xml'
end

route '*' do
  item.identifier + 'index.html'
end

# Layouts ######################################################################

layout '*', :haml, format: :html5, ugly: true
