@charset "utf-8";

$-turquoise: #236863;
$-blue: #2D4471;
$-brown: #552500;

$-family-serif: '"Goudy Bookletter 1911 Web", serif';

@use "sass:color";

@use "bulma/sass" as * with (
    $body-size: 20px,
    $family-primary: $-family-serif,
    $family-secondary: $-family-serif,
    $turquoise: $-turquoise,
    $link: $-turquoise,
    $info: $-blue,
);
@use "bulma/sass/utilities/mixins";

@import '_code.scss';

@import url('../font/goudy-bookletter-1911.css');

@function make-light($c) {
    @return color.scale($c, $lightness: 40%, $saturation: -10%);
}

@function make-lighter($c) {
    @return color.scale($c, $lightness: 80%, $saturation: -20%);
}

$-turquoise-light: make-light($-turquoise);
$-turquoise-lighter: make-lighter($-turquoise);
$-blue-light: make-light($-blue);
$-blue-lighter: make-lighter($-blue);
$-brown-light: make-light($-brown);
$-brown-lighter: make-lighter($-brown);

.content-container {
    @extend .container;
    @extend .is-widescreen;
    @extend .px-6;
    @extend .my-4;
}

h1, h2, h3, h4, h5, h6 {
    color: $-brown;

    &:before {
        color: $-brown-lighter;
    }
    a {
        color: inherit;
    }
}
h1 {
    font-size: $size-large;
    text-indent: -4ex;

    &:before {
        content: "# ";
    }
}
h2,
.content h2 {
    font-size: $size-medium;
    text-indent: -7ex;
    @extend .my-1;

    &:before {
        content: "## ";
    }
}
h3,
.content h3 {
    text-indent: -10ex;
    @extend .my-1;

    &:before {
        content: "### ";
    }
}

h3, h4, h5, h6,
.content h3, .content h4, .content h5, .content h6 {
    font-size: $body-font-size;
}
h5, h6, .content h5, .content h6 {
    font-style: italic;
}
h6, .content h6 {
    font-weight: normal;
}
.content {
    a {
        text-decoration: underline;

        &.tag {
            text-decoration: none;
        }
    }
    ul {
        margin-left: 0;
        ul {
            margin-left: 5ex;
        }
        *::marker {
            font-weight: bold;
        }
        @include mixins.mobile {
            &.taxonomy-list.tags-list {
                column-count: 2;
            }
        }
        @include mixins.tablet-only {
            &.taxonomy-list.tags-list {
                column-count: 3;
            }
        }
        @include mixins.desktop {
            &.taxonomy-list.tags-list {
                column-count: 4;
            }
        }
    }
    dt {
        font-weight: bold;
        font-style: italic;
    }
    dd {
        margin-left: 2ex;
    }
}
.card-updates {
    @extend .card;
    .content {

        font-style: italic;
        dt {
            font-weight: normal;
            display: inline;
            &:after {
                content: " :: ";
            }
        }
        dd {
            display: inline;
            margin-left: 0;
        }
    }
}
time.post-date {
    @extend .tag;
    @extend .is-primary;
    @extend .is-light;
}
.post-tag {
    @extend .tag;
    @extend .is-info;
    @extend .is-light;
}
.post-status-draft {
    @extend .tag;
    @extend .is-danger;
}
.summary {
    @extend .hero;
    @extend .my-3;
}
.link-summary {
    background-color: $-turquoise-lighter;
}
.note-summary {
    background-color: $-blue-lighter;
}
.single,
.list {
    @extend .my-5;
    @extend .py-5;
}
.site-title {
    @extend h1;
    @extend .navbar-item;
    @extend .is-size-3;
    @extend .is-size-4-touch;

    text-indent: 0;

    &:before {
        content: none;
    }
}
.site-description {
    background-color: $white-ter;
    & > .content-container {
        @extend .py-6;
    }
}
#webmentions {
    .reacts img {
        margin: 3px -1ex 1px 0;
        vertical-align: baseline;
    }
    li {
        margin-bottom: 0.5em;
        border-bottom: $-blue-lighter solid 1px;
        padding-bottom: 0.5em;
        &:first-child {
            border-top: $-blue-lighter solid 1px;
            padding-top: 0.5em;
        }
    }
    a.reaction {
        position: relative;

        padding: 3px;

        text-decoration: none;
        text-shadow: 0px 0px 3px white;
        font-size: 0.5rem;

        img {
            max-height: 2rem;
            margin-right: -1ex;
            border-radius: 3px;
        }
        sub {
            font-size: 50%;
        }

    }
    .comments a.reaction {
        float: left;
        background: $-blue-lighter;
        border-radius: 3px;
        margin-right: 2ex;
    }
    .reacts a.reaction {
        display: inline-block;
        background: $-turquoise-lighter;
        margin-right: 3px;
        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}

.cactus-container {
    .cactus-editor {
        margin-bottom: 1em;
    }
    .cactus-comment {
        padding-bottom: 1em;
    }
    .cactus-comment-avatar {
        flex-shrink: 0;
    }
    .cactus-message-text {
        @extend .content;
    }
}

#current {
    font-weight: bold;
}

.fr {
    float: right;
}
