$baseline: 21px;

$blueprint-font-size: $baseline/1.5;

$blueprint-grid-columns: 12;
$blueprint-container-size: 850px;
/*$blueprint-grid-width: 2.5 * $baseline;*/
$blueprint-grid-margin: $baseline;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

$default-border-radius: $baseline;

$colour-tag: #06c;
$colour-code: #666;
