:kramdown
  This is a list of the blog and news feeds I read, taken directly from my [feedly](http://feedly.com) account.

  You can also [download the full list in OPML format](feeds.opml).
.blogroll
