---
title: Blogroll
---

:kramdown
  This is a list of the blog and news feeds I read, updated occasionally from my [feedly](http://feedly.com) account.

  You can also [download the full list in OPML format](feeds.opml).

- feeds = Nokogiri::XML(@items['/blogroll/feeds/'].raw_content)
.blogroll
  - sections = feeds.xpath('//body/outline').sort_by {|s| s['title']}

  %ul.sections
    - sections.each do |section|
      %li
        %a{href: '#' + section['title'].downcase.tr(' ', '-')}
          = section['title']

  - sections.each do |section|
    %h2{id: section['title'].downcase.tr(' ', '-')}
      = section['title']

    %ul.feeds
      - section.xpath('./outline').each do |feed|
        %li
          %a{href: feed['htmlUrl']}= feed['title']
