---
title: Google Analytics ignore
is_hidden: true
---
!!!
%html
  %head
    %title Ignore my hits
  %body{ :onLoad => "javascript:_gaq.push(['_setVar', 'ignore']);" }
    Ignoring your hits
    = render 'partials/analytics'
