---
title: Google Analytics ignore
---
!!!
%html
  %head
    %title Ignore my hits
  %body{ :onLoad => "javascript:pageTracker._setVar('ignore');" }
    Ignoring your hits
    = render 'partials/analytics'
