{{ if .Site.Params.comments.cactus }}
    <hr />
    <div class="content">
        <h2>Comments</h2>
    </div>
    <div id="cactus-comments"></div>
    <p>
        <em>Powered by <a href="https://cactus.chat/">Cactus Comments 🌵</a></em>
    </p>
{{ end }}
