{{ if .Site.Params.comments.webmention }}
    <hr />
    <div class="content">
        <h2>Webmentions</h2>
        <p>
            You can respond to this post, <a href="{{ .Permalink }}">"{{ .Title }}"</a>, by:
            liking, boosting or replying to a tweet or <a href="https://joinmastodon.org/">toot</a> that mentions it; or
            sending a <a href="https://indieweb.org/Webmention">webmention</a> from your own site to <code>{{ .Permalink }}</code>

        </p>
    </div>

    <div id="webmentions">
        Comments &amp; reactions haven't loaded yet. You might have JavaScript disabled but that's cool 😎.
    </div>

{{ end }}
