<div class="footer">
	<div class="container">
		<div class="columns">
			<footer class="column is-8 is-offset-2 has-text-centered">
				{{ partial "social" . }}
				<p>
					&copy; {{ now.Year }}
					<a href="{{ .Site.BaseURL }}">{{ .Site.Params.Author }}</a>
					| Built by: <a href="https://gohugo.com/">Hugo</a>
					| Theme: <a href="https://tildegit.org/petrichor/theme-mnemosyne-hugo">Mnemosyne</a>
				</p>
				{{ with .Site.Params.netlify }}
					<p class="mt-4">
						<a href="https://app.netlify.com/sites/{{.name}}/deploys">
							Build status: <img src="https://api.netlify.com/api/v1/badges/{{.id}}/deploy-status">
						</a>
					</p>
				{{ end }}
				{{ with .Site.Copyright | safeHTML }}
					<hr />
					<p>{{.}}</p>
				{{ end }}
			</footer>
		</div>
	</div>
</div>
