<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="content-container">
		<div class="navbar-brand">
			{{- if .IsHome -}}<h1 class="site-title">{{- else -}}<div class="site-title">{{- end -}}
				<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
				{{- if .IsHome -}}</h1>{{- else -}}</div>{{- end -}}

				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav-menu">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
		</div>

		{{ with .Site.Menus.main }}
			<div class="navbar-menu" id="nav-menu">
				<div class="navbar-end">
					{{ range . }}
						<a class="navbar-item" href="{{ .URL | relURL }}">{{ .Name }}</a>
					{{ end }}
				</div>
			</div>
		{{ end }}
	</div>
</nav>
