{{ with . }}
    {{ $series := (site.GetPage "/series").GetPage . }}
    <div>
        <strong>Series:</strong>
        <a href="{{ $series.RelPermalink }}">{{ $series.Title }}</a>
    </div>
{{ end }}
