{{ with .Site.Params.Social }}
    <p>
        me elsewhere ::
        {{ $last := sub (len .) 1 }}
        {{ range $i, $x := . }}
            {{ $url := $x.info }}
            {{ $text := $x.kind }}
            {{ if eq $x.kind "github" }}
                {{ $url = printf "https://github.com/%s" $x.info }}
            {{ else if eq $x.kind "gitlab" }}
                {{ $url = printf "https://gitlab.com/%s" $x.info }}
            {{ else if eq $x.kind "codeberg" }}
                {{ $url = printf "https://codeberg.org/%s" $x.info }}
            {{ else if eq $x.kind "linkedin" }}
                {{ $url = printf "https://linkedin.com/in/%s" $x.info }}
            {{ else if eq $x.kind "twitter" }}
                {{ $url = printf "https://twitter.com/%s" $x.info }}
            {{ else if eq $x.kind "mastodon" }}
                {{ $url = printf "https://%s/@%s" (index $x.info 1) (index $x.info 0) }}
            {{ else if eq $x.kind "orcid" }}
                {{ $url = printf "https://orcid.org/%s" $x.info }}
            {{ else if eq $x.kind "keybase" }}
                {{ $url = printf "https://keybase.io/%s" $x.info }}
            {{ else if eq $x.kind "keyoxide" }}
                {{ $url = printf "https://keyoxide.org/%s" $x.info }}
            {{ else if eq $x.kind "matrix" }}
                {{ $url = printf "https://matrix.to/#/%s" $x.info }}
            {{ else if eq $x.kind "pypi" }}
                {{ $url = printf "https://pypi.org/user/%s" $x.info }}
            {{ end }}
            <a href="{{$url}}" rel="me">{{$text}}</a>
            {{ if ne $i $last }}|{{ end }}
        {{ end }}
    </p>
    <hr />
{{ end }}
