{{ if .Params.ShowTOC }}
    <div class="card mb-5">
        <div class="card-header has-background-light">
            <p class="card-header-title">Contents</p>
        </div>
        <div class="card-content content is-size-7">
            {{ .TableOfContents }}
        </div>
    </div>
{{ end }}
