{{ define "main" }}
    <section class="hero is-warning is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <main class="column is-8 is-offset-2">
                        <p class="title">
                            Page not found
                        </p>
                        <div class="content">
                            <p>
                                You could:
                            </p>
                            <ul>
                                <li><a href="{{ "/" | relURL }}">Go back to the home page</a></li>
                                <li><a href="{{ "/tags/" | relURL }}">Take a look at the list of tags</a></li>
                                <li><a href="https://duckduckgo.com">Try searching for what you're looking for</a></li>
                            </ul>
                        </div>
                    </main>
                </div>
            </div>
        </div>

    </section>
{{ end }}
