{{ define "main" }}
	<section class="site-description">
		<div class="content-container">
			{{ with .Site.Params.Description }}{{.}}{{ end }}
			{{ with .Site.Params.Topics }}
				{{ $last := sub (len .) 1 }}
				{{ range $i, $x := . }}
					<a href="/tags/{{ $x | urlize }}/">{{ $x }}</a>
					{{ if lt $i $last }}<span class="ampersand">&</span>{{ end }}
				{{ end  }}
			{{ end }}
		</div>
	</section>

	<main class="mt-3">
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination" . }}
	</main>
{{ end }}
