%meta{:charset => 'utf8'}
%link{:rel => 'stylesheet',
      :href => '/assets/style/screen.css',
      :media => 'screen, projection',
      :type => 'text/css' }
%link{:rel => 'stylesheet',
      :href => '/assets/style/print.css',
      :media => 'print',
      :type => 'text/css' }
/[if lt IE 8]
  %link{:rel => 'stylesheet',
        :href => '/assets/style/ie.css',
        :media => 'screen, projection',
        :type => 'text/css' }
/[if lt IE 9]
  %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

%title= @item[:title].andand + (" | " + @config[:title]) || @config[:title]
