%meta{name: 'DC.Title',   content: @item[:title]}
%meta{name: 'DC.Author',  content: @item[:author] || @config[:author_name]}
%meta{name: 'DC.Issued',  content: date_for(@item).strftime('%F')}
%meta{name: 'DC.Relation.IsPartOf', content: @config[:base_url]}
%meta{name: 'DC.Subject', content: ((@item[:categories]||[]) + (@item[:tags]||[])).join('; ')}
