%ul
  - if @item[:categories]
    - categories = @item[:categories].map { |x| "&ldquo;#{x}&rdquo;" }.join(', ')
    %li Filed under #{categories}
  - if @item[:tags]
    - tags       = @item[:tags].map { |x| "&ldquo;#{x}&rdquo;" }.join(', ')
    %li Tagged with #{tags}
