.sidebar-box.about-me
  %h3 About me
  :kramdown
    Hi, I'm Jez. Welcome to my blog, where I talk about technology in higher
    education, including:

    -   Research;
    -   Learning;
    -   Teaching;
    -   Educational technology.
.sidebar-box.more-soon
  %h3 More changes soon
  :kramdown
    eRambler is undergoing a period of change at the moment. This new look site
    is a work-in-progress, but that shouldn't stop the blog updates from
    coming.
-#%hr.colruler
-#- 4.times do
  -#.sidebar-box.lorem
    -#%h3= Faker::Lorem.words.join(' ').capitalize
    -#%p= Faker::Lorem.paragraph
  -#-#%hr.colruler
