.sidebar-box.about-me
  %h2 About me
  :kramdown
    Hi, I'm Jez. Welcome to my blog, where I talk about technology in higher
    education, including:

    -   e-Research;
    -   Learning;
    -   Teaching;
    -   Educational technology.
.sidebar-box.recent
  %h2 Recent posts
  %ul
    - sorted_articles.take(5).each do |article|
      %li
        = link_to article[:title], article
.sidebar-box.links
  %h2 Me elsewhere
  :kramdown
    -   [Twitter](http://twitter.com/jezcope)
    -   [Google+](http://gplus.to/jezcope)
    -   [LinkedIn](http://linkedin.com/in/jezcope){
    -   [Diigo](http://diigo.com/user/jezcope)
    -   [Mendeley](http://mendeley.com/profiles/jez-cope)
    -   [My year in photos](http://jezphotos.wordpress.com)
    -   [Work home page](http://people.bath.ac.uk/jc619)
