!!!
%html{ :lang => 'en' }
  %head
    %meta{:charset => 'utf8'}
    %link{:rel => 'stylesheet',
          :href => '/assets/style/screen.css',
          :media => 'screen, projection',
          :type => 'text/css' }
    %link{:rel => 'stylesheet',
          :href => '/assets/style/print.css',
          :media => 'print',
          :type => 'text/css' }
    /[if lt IE 8]
      %link{:rel => 'stylesheet',
            :href => '/assets/style/ie.css',
            :media => 'screen, projection',
            :type => 'text/css' }
  %body
    #container
      %header
        Header
        %nav
          Navigation
      #content
        = yield
      #sidebar
        Sidebar
      %footer
        Footer
