<p class="post-metadata">
    {{ partial "status" . }}
    <time class="post-date">📅 {{ .Date.Format .Site.Params.DateFormat }}</time>
    {{ partial "tags.html" .Params.tags }}
</p>
{{ partial "series.html" .Params.series }}
