{{ with .Params.updates }}
    <div class="card-updates">
        <div class="card-content has-background-primary-light has-text-primary-light-invert">
            <div class="content">
                <dl>
                    {{ range . }}
                        <dt><time datetime="{{ .date }}">{{ .date | time.Format $.Site.Params.DateTimeFormat }}</time></dt>
                        <dd>{{ .text | markdownify }}</dd>
                    {{ end }}
                </dl>
            </div>
        </div>
    </div>
{{ end }}
