<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-gb" }}" data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>
    {{ .Scratch.Set "desc" slice }}
    {{ with .Site.Params.description }}{{ $.Scratch.Add "desc" (slice .) }}{{ end }}
    {{ with .Site.Params.topics }}{{ $.Scratch.Add "desc" (slice (delimit . " & ")) }}{{ end }}
    {{ if gt (len (.Scratch.Get "desc")) 0 }}
      <meta name="description" content="{{ delimit (.Scratch.Get "desc") " " }}">
    {{ end }}
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with resources.Get "style/main.scss" }}
      {{ $opts := dict
      "transpiler" "dartsass"
      "targetPath" "css/style.css"
      "includePaths" (slice "node_modules")
      }}
      {{ with . | toCSS $opts }}
	{{ if hugo.IsDevelopment }}
	  <link rel="stylesheet" href="{{ .RelPermalink }}">
	{{ else }}
	  {{ with . | minify | fingerprint }}
	    <link rel="stylesheet"
		  href="{{ .RelPermalink }}"
		  integrity="{{ .Data.Integrity }}"
		  crossorigin="anonymous">
	  {{ end }}
	{{ end }}
      {{ end }}
    {{ end }}
    {{ with .Site.Params.comments.webmention }}<link rel="webmention" href="{{ . }}" />{{ end }}
    {{ with .Site.Params.comments.pingback }}<link rel="pingback" href="{{ . }}" />{{ end }}

    {{ if .Site.Params.comments.cactus }}
      <link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
    {{ end }}

    {{ with .Site.Params.analytics }}
      {{ if eq .type "plausible" }}
	{{ $url := urls.Parse $.Site.BaseURL }}
	<script defer data-domain="{{ $url.Hostname }}" src="https://plausible.io/js/script.js"></script>
      {{ end }}
    {{ end }}

    {{ with .OutputFormats.Get "RSS" -}}
      <link rel="{{ .Rel }}"
	    type="{{ .MediaType.Type }}"
	    href="{{ .RelPermalink }}"
	    title="{{ $.Site.Title | safeHTML}}">
    {{- end }}
  </head>
  <body>
    {{ partial "header" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}
  </body>
</html>
