{{ define "main" }}
	<main class="list">
		<div class="content-container">
			<div>
				{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
				{{ with .Content }}<div class="content">{{ . }}<hr /></div>{{ end }}
				<div class="content">
					<ul class="list {{ .Kind }}-list{{ with .Data.Plural }} {{.}}-list{{ end }}">
						{{ $sort_field := "Date" }}
						{{ if eq .Kind "taxonomy" }}{{ $sort_field = "Title" }}{{ end }}
						{{ range sort .Pages $sort_field "asc" }}
							{{ .Render "li" }}
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</main>
{{ end }}
