{{ define "main" }}
	<main class="single">
		<article class="content-container">
			<h1>{{ .Render "frag/title" }}</h1>
			{{ partial "series-items" . }}
			{{ partial "toc" . }}
			<div class="content">
				{{ .Render "frag/metadata" }}
				{{ .Render "frag/updates" }}
				{{ .Content }}
			</div>
			{{ partial "comments" . }}
		</article>
	</main>
{{ end }}
