<article class="summary {{ .Type }}-summary">
	<div class="content-container">
		{{ if ne .Type "note" }}
			<h2>
				<a href="{{ with .Params.link }}{{.}}{{ else }}{{ .RelPermalink }}{{ end }}">
					{{ .Render "frag/title" }}
				</a>
			</h2>
		{{ end }}
		<div class="content">
			{{ .Render "frag/summary-content" }}
			{{ .Render "frag/metadata" }}
		</div>
	</div>
</article>
