<figure class="${pageargs['class']}">
  <img src="${src}" alt="${alt}" />

  % if attr or caption:
    <figcaption>
      <p>
        % if caption:
          ${caption}
          % if attr:
            &middot;
          % endif
        % endif
        % if attr:
          % if attrlink:
            <a href="${attrlink}">
          % endif
          ${attr}
          % if attrlink:
            </a>
          % endif
        % endif
      </p>
    </figcaption>
  % endif
</figure>
